*{
    box-sizing: border-box;
    
}
html {
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #FFE2B0;
}
header{
    text-align: center;
    margin-bottom: 20px;
}
ul{
    text-align: center;
    list-style-type: none;
    padding: 0px;
    font-weight: 700;
}
a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

li{
    display: inline;
    margin-right: 100px;
}
li:last-child{
    margin-right: 0px;
}
nav{
    margin-bottom: 20px;
    
}
.Section-1{
    height: 640px;
    background:url(../img/01-Картинка-фона.jpg) center/cover no-repeat  ;
    position: relative;
    margin-bottom: 20px;
}

.Section-1__block1{

    width: 420px;
    height: 190px;
    background: linear-gradient(180deg, rgba(244,213,178,0.80) 0%,rgba(234,156,65,0.8) 100%);
    position: absolute;
    top: 54%;
    left: 50%;
    padding-top: 15px;
    text-align: center;
    
}
.Section-1__block1__Border{
    width: 390px;
    height: 160px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 17px 0 0 28px;
    text-align: left;
    
    
}
.Section-1__title {
font-size: 36px;
margin:0px;
margin-bottom: 9px;
font-family: 'Philosopher',sans-serif;
font-weight: 400;
}
.Section-1__text {
font-size: 12px;
margin: 0;

}

.Section__description__boxlogo {
    text-align: center;
    margin-bottom: 20px;
    
}
.Section__description__boxlogo img {
    margin-right: 76px;
}
.Section__description__boxlogo img:last-child { 
margin-right: 0px;
}
.title__description {
font-size: 96px;
text-align: center;
margin: 0;
font-family: 'Philosopher',sans-serif;
font-weight: 400;
margin-bottom: 10px;
}
.text__description {
font-size: 18px;
margin: 0;
width: 1000px;
margin: 0 auto;
text-align: center;
}
.red {
    color: #f15b40;
}
.Section__description {
    margin-bottom: 20px;
}
.description-map {
margin-bottom: 20px;
}
iframe {
    display: block;
    margin: 0 auto;
    

}
.order {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Philosopher',sans-serif;
    font-weight: 400;
    

}
footer{
    
    height: 100px;
    
}
hr{
    border: none;
    border-top: 1px solid #999999;
    width: 1024px;
    margin: 0 auto;
    margin-bottom: 20px;
}